.searchBox {
  margin-bottom: 20px;
  text-align: center;
}

.searchInput {
  min-width: 250px;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid var(--input-border-color);
  outline: none;
}

.searchInput:hover,
.searchInput:focus {
  border-color: var(--btn-bgd-active);
}
