.form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 300px;
  height: fit-content;
  padding: 10px;
  border: 2px solid var(--border-color);
  box-shadow: var(--form-shadow);
}

.label {
  display: flex;
  flex-direction: column;
}

.field {
  display: block;
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
}

.submitBtn {
  display: block;
  margin-top: 20px;
  width: 100%;
}
.error {
  color: var(--error-color);
}

.wrapper {
  min-height: 80px;
}
